*{
    box-sizing: border-box;
}

.container{
    background-color: #b0e0e27e;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
}
#enviar{
    background-color: dodgerblue;
    border-radius: 15px;
}

.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-75 input{
    width: 100%;
    height: 35px;
}

.col-75  textarea{
    width: 100%;
    height: 35px;
}

.col-75 select{
    width: 100%;
    height: 35px;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.row .button{
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    padding: 10px;
    float: right;
    cursor: pointer;
}

#enviar{
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}

#enviar:hover:not(.active) {
    background-color: #0044ff;
}

.campo{
    border-radius: 5px;
    border: 1px solid rgb(198, 198, 198);
    resize: none;
}

label{
    padding: 12px 12px 12px 0;
}

#duvidas{
   font-size: 15px;
}
 
#pais {
    width: 100%;
    height: 35px;
    border: 1px solid rgb(198, 198, 198);
    background: rgb(222, 222, 222) url(/img/seta.png) 98% 50% no-repeat;
    background-size: 1%;
}
footer{
    text-align: center;
}

@media (min-width: 300px) and (max-width:700px) {
    *{
        width: 100%;
    }
    body{
        width: 100%;
        overflow-x: hidden;
    }
    h1{
        width: 100vw;
        padding: 5px;
    }
    h2{
        padding: 5px;
    }
    .container{
        display: none;
    }
     h1{
        margin-top: 5%;
    }
    #centro-distribuicao{
        width: 100%;
    }    
    p{
        text-align: justify;
    }
    p::first-line{
        font-variant: normal;
    }
    footer{
        margin: 3px;
        background-color:#333333;
    }
    footer img{
        margin-left: 10px;
    }
}

@media (min-width: 750px) and (max-width:1000px) {
    body{
        width: 100%;
        overflow-x: hidden;
    }
    h1{
        width: 100vw;
        padding: 5px;
    }
    h2{
        padding: 5px;
    }
    .container{
        display: none;
    }
     h1{
        margin-top: 5%;
    }
    #centro-distribuicao{
        width: 100%;
    }    
    #familia-pelho{
        float: right;
        margin-right: 10px;
    }
    p{
        text-align: justify;
    }
    p::first-line{
        font-variant: normal;
    }
    footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer img{
        margin-left: 10px;
        width: 10%;
    }
}

@media (min-width: 1000px){
    *{
        box-sizing: unset;
    }
}